.quotes {
   
      margin: 20em;
      /* border: 1px solid goldenrod; */
      border-radius: 25px;
      background: #89CFF0;
      padding: 30px; 
      /* width: 100px; */
      /* height: 100px; */
      display: flex;
      align-items: center;
    justify-content: center;
}

.newButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: peru;
}