.supportBoards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    
  .supportBoard {
      flex-basis: 28%;
      margin: 1rem;
      border: 20px solid rgb(62, 16, 189);
      border-radius: 25px;
      background: salmon;
      padding: 20px; 
      width: 100px;
      min-height: 100px;
  }